table {
    min-width: 550px;
    font-family: sans-serif;
}
caption {
    text-align: left;
    padding-left: 5px;
    height: 25px;
}

table thead tr th {
    color: white;
    background: #FF6600;
}
table tfoot tr td {
    border-top: 2px solid #FF6600;
    height: 28px;
    vertical-align: bottom;
}
table tbody tr td {
    text-align: left;
}
table tbody tr.stripe {
    background: #FEEDB7;
}